<h2 class="text-center text-info">
  Total Invested:
  {{ (investmentTotal ? investmentTotal : 0) | currency: "EUR" }}
</h2>
<h2
  class="text-center"
  [ngClass]="{
    'text-success': grandTotal > investmentTotal,
    'text-danger': grandTotal <= investmentTotal
  }"
>
  Profit:
  {{ (grandTotal ? grandTotal - investmentTotal : 0) | currency: "EUR" }}
</h2>
<h2
  class="text-center"
  [ngClass]="{
    'text-success': grandTotal > investmentTotal,
    'text-danger': grandTotal <= investmentTotal
  }"
>
  Grand Total: {{ (grandTotal ? grandTotal : 0) | currency: "EUR" }}
</h2>
<h2
  class="text-center"
  [ngClass]="{
    'text-success': grandTotal > investmentTotal,
    'text-danger': grandTotal <= investmentTotal
  }"
>
  ROI:
  {{
    ((grandTotal - investmentTotal) / investmentTotal) * 100 | number: "1.0-2"
  }}
  %
</h2>
<hr class="my-4" />
<div class="container">
  <span class="lead">
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <button
            (click)="addAsset()"
            class="btn btn-primary"
            data-toggle="tooltip"
            data-placement="top"
            title="Add new asset"
          >
            Add Asset</button
          ><br />
        </div>
      </div>
      <div class="row" *ngFor="let asset of portfolio">
        <div class="col align-self-start">
          <div class="card border-info mb-3">
            <div class="card-header">Market: {{ asset.market }}</div>
            <div class="card-body">
              <h4 class="card-title">
                Name: {{ asset.name }}
                <button
                  (click)="editAsset(asset.id)"
                  class="btn btn-primary"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Edit this asset"
                >
                  Edit
                </button>
              </h4>
              <span class="card-text">
                <ul>
                  <app-asset-price
                    [asset]="asset"
                    (priceDataUpdated)="updateGrandTotal($event, asset)"
                  ></app-asset-price>
                </ul>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </span>
</div>
