<div class="jumbotron">
  <h1 class="display-3 text-center">Asset List</h1>
  <hr class="my-4" />
  <span class="lead">
    <div class="container">
      <div class="row">
        <div *ngFor="let asset of portfolio">
          <div class="col align-self-start">
            <div class="card border-info mb-3" style="width: 30rem">
              <div class="card-header">
                Market: {{ asset.market }}
                <button (click)="editAsset(asset.id)">Edit</button>
              </div>
              <div class="card-body">
                <h4 class="card-title">Name: {{ asset.name }}</h4>
                <span class="card-text">
                  <ul>
                    <app-asset-price
                      [asset]="asset"
                      (priceDataUpdated)="updateGrandTotal($event, asset)"
                    ></app-asset-price>
                  </ul>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <h2 class="text-center text-info">
      Total Invested:
      {{ (investmentTotal ? investmentTotal : 0) | currency: "EUR" }}
    </h2>
    <h2
      class="text-center"
      [ngClass]="{
        'text-success': grandTotal > investmentTotal,
        'text-danger': grandTotal <= investmentTotal
      }"
    >
      Grand Total: {{ (grandTotal ? grandTotal : 0) | currency: "EUR" }}
    </h2>
    <hr class="my-4" />
  </span>
</div>
