<mat-card class="mycard">
  <mat-card-content>
    <div class="totals">
      Total Invested:
      {{ (investmentTotal ? investmentTotal : 0) | currency: "EUR" }}
    </div>
    <div class="totals"
      [ngClass]="{
        'text-success': grandTotal > investmentTotal,
        'text-danger': grandTotal <= investmentTotal
      }"
    >
      Profit:
      {{ (grandTotal ? grandTotal - investmentTotal : 0) | currency: "EUR" }}
    </div>
    <div class="totals"
      [ngClass]="{
        'text-success': grandTotal > investmentTotal,
        'text-danger': grandTotal <= investmentTotal
      }"
    >
      Grand Total: {{ (grandTotal ? grandTotal : 0) | currency: "EUR" }}
    </div>
    <div class="totals"
      [ngClass]="{
        'text-success': grandTotal > investmentTotal,
        'text-danger': grandTotal <= investmentTotal
      }"
    >
      ROI:
      {{
        ((grandTotal - investmentTotal) / investmentTotal) * 100
          | number: "1.0-2"
      }}
      %
    </div>
  </mat-card-content>
</mat-card>

<mat-card *ngFor="let asset of portfolio" class="mycard">
  <mat-card-title>Name: {{ asset.name }}</mat-card-title>
  <mat-card-subtitle>
    <a href="{{ asset.market | marketurl }}" target="_blank">
      Market: {{ asset.market | marketname }}
    </a>
  </mat-card-subtitle>
  <mat-card-content>
    <ul>
      <app-asset-price
        [asset]="asset"
        (priceDataUpdated)="updateGrandTotal($event, asset)"
      >
      </app-asset-price>
    </ul>
  </mat-card-content>
  <mat-card-actions>
    <button
    color="accent"
      mat-raised-button
      (click)="editAsset(asset.id)"
      data-toggle="tooltip"
      data-placement="top"
      title="Edit this asset"
    >
      Edit
    </button>
  </mat-card-actions>
</mat-card>

<button
color="primary"
  mat-raised-button
  (click)="addAsset()"
  data-toggle="tooltip"
  data-placement="top"
  title="Add new asset"
>
  Add Asset
</button>
