<form [formGroup]="marketForm" (ngSubmit)="onSubmit()">
  <mat-card class="marketform">
    <mat-card-title class="marketform-title"> Add Market </mat-card-title>
    <mat-card-content>
      <input type="hidden" formControlName="id" />
      <mat-form-field class="marketform-input">
        <input
          matInput
          formControlName="symbol"
          placeholder="Symbol"
          required
        />
      </mat-form-field>

      <mat-form-field class="marketform-input">
        <input matInput formControlName="name" placeholder="Name" required />
      </mat-form-field>
      <mat-form-field class="marketform-input">
        <input matInput formControlName="marketUrl" placeholder="Url" />
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions layout="row" layout-align="start center">
      <button mat-raised-button color="accent" (click)="onSave()" style="margin-right:8px;">Save</button>
      <button mat-raised-button color="warn" (click)="onDelete()">Delete</button>
      <button mat-raised-button color="primary" (click)="onCancel()">Cancel</button>
    </mat-card-actions>
  </mat-card>
</form>
