<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/">Home</a>
      <a mat-list-item routerLink="/dashboard">Dashboard</a>
      <a mat-list-item routerLink="/admin">Asset Admin</a>
      <a mat-list-item routerLink="/marketadmin">Markets Admin</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span
        ><img id="stockIcon" src="assets/Stock-Folder-Ash-icon.png" />Portfolio
        Overview App</span
      >
    </mat-toolbar>
    <!-- Add Content Here -->

    <div class="mycontainer">
      <router-outlet></router-outlet>

      <div class="footer spread-evenly">

        <div style="vertical-align: middle">Version: {{ version }}</div>
        <div>
          <a href="https://dennis-decoene.mit-license.org/">MIT License</a>
        </div>
        <div style="vertical-align: middle">
          <a href="https://github.com/DDecoene/PortfolioOverview"
            ><img height="20px" src="assets/GitHub_Logo.png"
          /></a>
        </div>
        <div>
          Copyright © 2021
          <a href="https://github.com/DDecoene">Dennis Decoene</a>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
