.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mycontainer {
  width: 80%;
  margin: 20px auto;
}

#stockIcon {
  height: 30px;
  vertical-align: middle;
  margin-right: 10px;
  margin-left: 10px;
}

.middleAlignedText {
  vertical-align: middle;
}

.version {
  margin: 20px auto;
  vertical-align: middle;
  font-size: xx-small;
}
