<li>
  Current Price:
  <span>{{
    (priceData ? priceData[asset.symbol]["eur"] : 0)
      | currency: "EUR":"symbol":"1.2-20"
  }}</span>
</li>
<li>
  Quantity Held:
  <span>{{ asset.quantityHeld }}</span>
</li>
<li>
  Total Investment:
  <span>{{ asset.totalInvestment | currency: "EUR":"symbol":"1.2-20" }}</span>
</li>

<li>
  Date Purchased:
  <span>{{ asset.datePurchased | date }}</span>
</li>
<span  *ngIf="priceData">
  <!-- Current value -->
  <app-asset-totalizer
    [asset]="asset"
    [priceData]="priceData"
  ></app-asset-totalizer>
</span>

