<form [formGroup]="assetForm">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        ID:
      </div>
      <div class="col-sm">
        <input type="text" formControlName="id">
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        Symbol:
      </div>
      <div class="col-sm">
        <input type="text" formControlName="symbol">
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        Name:
      </div>
      <div class="col-sm">
        <input type="text" formControlName="name">
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        Market:
      </div>
      <div class="col-sm">
        <input type="text" formControlName="market">
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        Quantity Held:
      </div>
      <div class="col-sm">
        <input type="text" formControlName="quantityHeld">
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        Total Investment:
      </div>
      <div class="col-sm">
        <input type="text" formControlName="totalInvestment">
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        Price API Url:
      </div>
      <div class="col-sm">
        <input type="text" formControlName="priceApiURL">
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <button (click)="onSave()">Save</button>
      </div>
      <div class="row">
        <div class="col-sm">
          <button (click)="onDelete()">Delete</button>
        </div>
        </div>
      <div class="col-sm">
        <button (click)="onCancel()">Cancel</button>
      </div>
    </div>
  </div>
</form>

